body {
  font-family: "Poppins", "sans-serif";
  margin: 0;
}

h1 {
  font-size: 50px;
}

.color-orange {
  color: orange;
}

.flex-container {
  display: flex;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width p {
  color: gray;
}
.half-width img {
  width: 90%;
}
.hire-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 500;
  padding: 8px 40px;
  border-radius: 5px;
}

.top-header {
  background-image: url(image/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  margin-top: 10%;
  background-image: url(image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.download-btn {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 8px 40px;
  border-radius: 5px;
  color: white;
}

.developer-width {
  width: 80%;
  box-shadow: 1px 1px 10px gray;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-left: 5px solid blue;
}

.bottom-container {
  background-image: url(image/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.experienc {
  padding-left: 5%;
}

footer h6 {
  text-align: center;
  margin-top: 50px;
}
